  <% if @event.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@event.errors.count, "erro") %> impediram a criação do Chá de Fraldas</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
   <% end %>