<div class="center">
<div class="wizard">
      <% if step=="inform" %>
        <a class="current"><span class="badge badge-inverse">1</span>
      <%else%>
        <a><span class="badge">1</span>
      <%end%>Informar Dados</a>
      <% if step=="choose" %>
        <a class="current"><span class="badge badge-inverse">2</span>
      <%else%>
        <a><span class="badge">2</span>
      <%end%>Escolher Produtos</a>
      <% if step=="invite" %>
        <a class="current"><span class="badge badge-inverse">3</span>
      <%else%>
        <a><span class="badge">3</span>
      <%end%>Convidar Amigos</a>
</div> 
</div>