<div class="pushright">
	<table class="table table-striped">
			<tbody>
				<tr>
					<td>20h06</td>
					<td>25/01/14</td>
					<td>
						<%= link_to "Chá de Fraldas do Joãozinho", "#"%>
					</td>
					<td style="text-align:right;">R$ 45,90</td>
				</tr>
				<tr>
					<td>15h46</td>
					<td>25/01/14</td>
					<td>
						<%= link_to "Chá de Fraldas da Maria", "#"%>
					</td>
					<td style="text-align:right;">R$ 89,90</td>
				</tr>
				<tr>
					<td>12h01</td>
					<td>25/01/14</td>
					<td>
						<%= link_to "Chá de Fraldas do César", "#"%>
					</td>
					<td style="text-align:right;">R$ 69,90</td>
				</tr>
			</tbody>
		</table>
</div>