<div class="pushright">
	<table class="table table-striped">
			<tbody>
				<% Contribution.all.where(:user =>current_user).order("created_at DESC").each do |contribution| %>
				<tr>
					<td><%= l(contribution.created_at, :format=>"%H:%M")%></td>
					<td><%= l(contribution.created_at, :format=>"%d %b. %Y")%></td>
					<td>
						<%= link_to contribution.event.name, contribution.event%>
					</td>
					<td style="text-align:right;"><%= number_to_currency(contribution.product.value*contribution.quantity) if contribution.product%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
</div>