  <div class="field">
    <%= f.label :welcome_message , "Insira uma mensagem de boas vindas"%><br>
    <%= f.text_field :welcome_message, :class=>"input-xxlarge", :type=>"text/html" %>
    <p class="help-inline">ex. "Bem-vinda ao Chá de Fralds do Joaquim."</p>
  </div>