<div class="field">
    <%= f.label :name , "Dê um nome para seu Chá de Fraldas"%><br>
    <%= f.text_field :name, :class=>"input-xlarge"  %>
    <p class="help-inline">ex. "Chá de Fraldas do Joaquim"</p>
 </div>
