
  <div class="field">
    <%= f.label :thankyou_message , "Insira uma mensagem de agradecimento"%><br>
    <%= f.text_field :thankyou_message, :class=>"input-xxlarge", :type=>"text/html" %>
    <p class="help-inline">ex. "Obrigada por participar do Chá de Fralds do Joaquim."</p>
  </div>